<?xml version="1.0" ?>
<model>
    <name>k_building</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Masaru Sakuma</name>
        <email>ms.sakkun@gmail.com</email>
    </author>
    <description>K Building of Engineering, Hookaido University</description>
</model>
