<launch>
  <include file="$(find px4_simulation_stack)/launch/laser/laser_filter.launch">
  </include>

  <node type="laser_scan_assembler" pkg="laser_assembler" name="px4_assembler">
    <remap from="scan" to="scan_filtered"/>
    <param name="max_scans" type="int" value="4000" />
    <param name="fixed_frame" type="string" value="map" />
    <param name="tf_cache_time_secs" type="double" value="60" />
  </node>
</launch>
