<?xml version="1.0"?>
<model>
  <name>3DR Iris with a camera vertically attached</name>
  <version>1.0</version>
  <sdf>iris_camera_vertical.sdf</sdf>

  <author>
   <name>Takaki Ueno</name>
   <email>t_ueno@eis.hokudai.ac.jp</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a vertically attached camera.
  </description>
</model>
