<?xml version="1.0"?>

<model>
  <name>Uneven Ground Friction</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Takaki Ueno</name>
    <email>t_ueno@eis.hokudai.ac.jp</email>
  </author>

  <description>
    A ground that is uneven with friction.
  </description>

</model>
