<?xml version="1.0"?>
<launch>

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>

    <!-- Posix SITL environment launch script -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="iris_lidar_vertical"/>
    <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/empty.world"/>
    <arg name="sdf" default="$(find px4_simulation_stack)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>

    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>

    <!-- MAVROS -->
    <arg name="fcu_url" default="udp://:14540@localhost:14557"/>
	<arg name="gcs_url" default="udp://:14550@localhost:14556" />

    <include file="$(find px4_simulation_stack)/launch/gazebo/mavros_posix_sitl_remote_server.launch">
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg y)" />
        <arg name="z" value="$(arg z)" />
        <arg name="R" value="$(arg R)" />
        <arg name="P" value="$(arg P)" />
        <arg name="Y" value="$(arg Y)" />

        <arg name="est" value="$(arg est)" />
        <arg name="vehicle" value="$(arg vehicle)" />
        <arg name="world" value="$(arg world)" />
        <arg name="sdf" value="$(arg sdf)" />

        <arg name="debug" value="$(arg debug)" />
        <arg name="verbose" value="$(arg verbose)" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)" />

		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
    </include>

    <!-- Launching laser_assembler -->
    <include file="$(find px4_simulation_stack)/launch/laser/px4_assemble.launch" />

    <!-- Adding static transformation -->
    <node name="lidar_link_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 1.57 0 base_link lidar_link 100"/>
</launch>

<!-- vim: set et ft=xml fenc=utf-8 ff=unix sts=0 sw=4 ts=4 : -->
