<?xml version="1.0"?>
<launch>

    <arg name="vehicle" default="iris_lidar_vertical"/>
    <arg name="sdf" default="$(find px4_simulation_stack)/Tools/sitl_gazebo/models/$(arg vehicle)/model.sdf"/>

    <arg name="verbose" default="false"/>

    <include file="$(find px4_simulation_stack)/launch/sitl/mavros_posix_sitl_remote_server.launch" >
        <arg name="vehicle" value="$(arg vehicle)" />
        <arg name="sdf" value="$(arg sdf)" />
        <arg name="verbose" value="$(arg verbose)" />
    </include>
    <include file="$(find px4_simulation_stack)/launch/gazebo/gzclient.launch" />

</launch>

<!-- vim: set et ft=xml fenc=utf-8 ff=unix sts=0 sw=4 ts=4 : -->
