<launch>

    <!-- Posix SITL environment launch script -->
    <arg name="use_xacro" default="true" />
    <arg name="vehicle" default="F550"/>

    <arg name="verbose" default="false"/>

    <include file="$(find px4_simulation_stack)/launch/sitl/mavros_posix_sitl_remote_server.launch">
        <arg name="vehicle" value="$(arg vehicle)" />
        <arg name="use_xacro" value="$(arg use_xacro)"/>
        <arg name="verbose" value="$(arg verbose)" />
    </include>

    <include file="$(find px4_simulation_stack)/launch/gazebo/gzclient.launch" />

</launch>

<!-- vim: set et ft=xml fenc=utf-8 ff=unix sts=0 sw=4 ts=4 : -->
