<launch>
	<arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="est" default="lpe"/>
    <arg name="vehicle" default="f550_rd_basic_v1"/>
    <arg name="config_posix" default="$(arg vehicle)"/>
	<arg name="world" default="$(find px4_simulation_stack)/Tools/sitl_gazebo/worlds/empty.world"/>
    <arg name="sdf" default="$(find px4_simulation_stack)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <arg name="headless" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="ns" default="/"/>

    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
    <arg name="paused" default="false"/>

<arg name="rcS1" default="$(find px4_simulation_stack)/posix-configs/SITL/init/$(arg est)/hexarotor_urdf"/>
<arg name="rcS2" default="$(find px4_simulation_stack)/posix-configs/SITL/init/$(arg est)/hexa_num2"/>


<!-- Launching 1st UAV SITL / Commened-out to send comands in seperate windows -->  
   <!--
	<node name="sitl1" pkg="px4" type="px4" output="screen"
        args="$(find px4) $(arg rcS1)">
    </node>
-->

  <!-- Launching 2nd UAV SITL -->
<!-- In order to send command via px4 commander run another instance -->   
	<node name="sitl2" pkg="px4" type="px4" output="screen"
        args="$(find px4) $(arg rcS2)">
    </node>



</launch>


