<?xml version="1.0"?>
<model>
  <name>f550_mavlink</name>
  <version>1.0</version>
  <sdf version='1.4'>f550_mavlink.sdf</sdf>

  <author>
   <name>Takaki Ueno, S.P. Yamaguchi</name>
   <email>spymgc@eis.hokudai.ac.jp</email>
  </author>

  <description>
    SDF and URDF model of F550 chasis + sensors
    Adjustable port in mavlink plugin from 1 model
  </description>
</model>
