<?xml version="1.0"?>
<model>
  <name>f550_copy</name>
  <version>1.0</version>
  <sdf version='1.4'>urdf/f550_copy.sdf</sdf>

  <author>
   <name>Takaki Ueno, S.P. Yamaguchi</name>
   <email>t_ueno@eis.hokudai.ac.jp</email>
  </author>

  <description>
    additional sdf file for multi vechicle simulation
  </description>
</model>
