<launch>
	<arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="est" default="lpe"/>
    <arg name="world" default ="multi_test"/>
	<arg name="world_path" default="$(find px4_simulation_stack)/Tools/sitl_gazebo/worlds/$(arg world).world"/>
    <arg name="RCS_PATH" default ="$(find px4_simulation_stack)/posix-configs/SITL/init/$(arg est)" /> 
    <arg name="headless" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="ns" default="/"/>

    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>

<!--rcS files specifies SYS_ID, Mavlink ports & UDP ports for SITL-->
<arg name="rcS1" default="$(arg RCS_PATH)/multi_setting/f550_num1"/>
<arg name="rcS2" default="$(arg RCS_PATH)/multi_setting/f550_num2"/>
<arg name="rcS3" default="$(arg RCS_PATH)/multi_setting/f550_num3"/>

  <!-- Launching gazebo  -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="headless" value="$(arg headless)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world_path)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="verbose" value="$(arg verbose)" />
        <arg name="paused" value="$(arg paused)" />
    </include>


  <!-- Launching 1st UAV SITL -->
	<node name="sitl1" pkg="px4" type="px4" output="screen"
        args="$(find px4) $(arg rcS1)">
    </node>

  <!-- Launching 2nd UAV SITL -->
<!-- In order to send command via px4 commander run another instance 
    e-g. secound_hexa.launch-->
<!--   
	<node name="sitl2" pkg="px4" type="px4" output="screen"
        args="$(find px4) $(arg rcS2)">
    </node>
-->


</launch>


