<launch>
	<arg name="est" default="lpe"/>
    <arg name="RCS_PATH" default ="$(find px4_simulation_stack)/posix-configs/SITL/init/$(arg est)" /> 
    <arg name="headless" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="ns" default="/"/>

    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>

<!--rcS files specifies SYS_ID, Mavlink ports & UDP ports for SITL-->
<arg name="rcS1" default="$(arg RCS_PATH)/multi_setting/f550_num1"/>
<arg name="rcS2" default="$(arg RCS_PATH)/multi_setting/f550_num2"/>
<arg name="rcS3" default="$(arg RCS_PATH)/multi_setting/f550_num3"/>


  <!-- Launching 2nd UAV SITL -->
	<node name="sitl2" pkg="px4" type="px4" output="screen"
        args="$(find px4) $(arg rcS2)">
    </node>



</launch>


