<?xml version="1.0"?>
<model>
  <name>f550_wireless</name>
  <version>1.0</version>
  <sdf version='1.4'>f550_wireless.sdf</sdf>

  <author>
   <name>SP Yamaguchi</name>
   <email>spymgc@eis.hokudai.ac.jp</email>
  </author>

  <description>
    hexarotor F550 sdf with wireless reciever
  </description>
</model>
