<?xml version="1.0"?>
<model>
  <name>f550_rd_basic_v1</name>
  <version>1.0</version>
  <sdf version='1.4'>urdf/f550_rd_basic_v1.sdf</sdf>

  <author>
   <name>Takaki Ueno, S.P. Yamaguchi</name>
   <email>spymgc@eis.hokudai.ac.jp</email>
  </author>

  <description>
    hexarotor urdf.
  </description>
</model>
